## Import Libraries

In [1]:
# untuk dataframe
import pandas as pd

# keperluan scraping
from bs4 import BeautifulSoup
from selenium import webdriver

import time

## Webscrapping Process

### 1. Assign Driver

In [2]:
# create driver
driver = webdriver.Chrome()

### 2. Access Website

In [3]:
# provide the url
url = 'https://www.bhinneka.com/jual?cari=laptop&order='

# access the url
driver.get(url)

### 3. Fetch HTML Components

In [5]:
# fetch HTML
html = driver.page_source

type(html)

str

### 4. Parse HTML Components

In [7]:
# parsing the HTML
soup = BeautifulSoup(html, "html.parser")

### 5. Extract Element

**Product Names**

```html
<a class="text-primary text-decoration-none" itemprop="name" href="/sitstand-laptop-stand-alumunium-premium-portable-lap05-sku3340917845" content="SitStand Laptop Stand Alumunium Premium Portable LAP05">SitStand Laptop Stand Alumunium Premium Portable LAP05</a>

<a class="text-primary text-decoration-none" itemprop="name" href="/advan-laptop-soulmate-intel-n4020-8gb-128gb-ssd-win-11-home-grey-sku3341178387" content="ADVAN Laptop Soulmate (Intel N4020, 8GB, 128GB SSD, Win 11 Home) Grey">ADVAN Laptop Soulmate (Intel N4020, 8GB, 128GB SSD, Win 11 Home) Grey</a>
```

In [13]:
# find an element and extract the value
soup.find('a', {'class':"text-primary text-decoration-none"}).get_text()

'SitStand Laptop Stand Alumunium Premium Portable LAP05'

In [17]:
# find all
product_names = soup.find_all('a', {'class':"text-primary text-decoration-none"})

# collect extracted name
text_product_name = []

# extract name
for product in product_names:
    # input the product name into the list
    text_product_name.append(product.get_text())

**Price**

```html
<span itemprop="price" style="display:none;">299000.0</span>
```

In [22]:
# find price element
soup.find('span', {'itemprop':'price'}).get_text()

'299000.0'

In [24]:
# find all
price_names = soup.find_all('span', {'itemprop':'price'})

# collect extracted name
text_price_name = []

# extract name
for price in price_names:
    # input the price name into the list
    text_price_name.append(price.get_text())

**Cicilan**

```html
<span class="bmd-installment">Cicilan Rp. 191.583/bln</span>
```

In [40]:
# find price element
soup.find('span', {'class':'bmd-installment'})

### 6. Create Dataframe

In [31]:
# raw data
raw_data = {'Product Name': text_product_name,
            'Discount Price' : text_price_name}

# create dataframe
data = pd.DataFrame(raw_data)

# show dataframe
data.head()

                                        Product Name Discount Price
0  SitStand Laptop Stand Alumunium Premium Portab...       299000.0
1  ADVAN Laptop Soulmate (Intel N4020, 8GB, 128GB...      2589000.0
2  ADVAN Laptop Soulmate (Intel N4020, 4GB, 128GB...      2299000.0
3  ADVAN Laptop Soulmate (Intel N4020, 4GB, 128GB...      2299000.0
4  ADVAN Laptop Soulmate (Intel N4020, 4GB, 128GB...      2299000.0

### 7. Compile

In [32]:
# create driver
driver = webdriver.Chrome()

# provide the url
url = 'https://www.bhinneka.com/jual?cari=laptop&order='

# access the url
driver.get(url)

# fetch HTML
html = driver.page_source

# parsing the HTML
soup = BeautifulSoup(html, "html.parser")

# find all for product name
product_names = soup.find_all('a', {'class':"text-primary text-decoration-none"})

# collect extracted name
text_product_name = []

# extract name
for product in product_names:
    # input the product name into the list
    text_product_name.append(product.get_text())

# find all for discount price
price_names = soup.find_all('span', {'itemprop':'price'})

# collect extracted name
text_price_name = []

# extract name
for price in price_names:
    # input the price name into the list
    text_price_name.append(price.get_text())

# raw data
raw_data = {'Product Name': text_product_name,
            'Discount Price' : text_price_name}

# create dataframe
data = pd.DataFrame(raw_data)

# show dataframe
data.head()

                                        Product Name Discount Price
0  SitStand Laptop Stand Alumunium Premium Portab...       299000.0
1  ADVAN Laptop Soulmate (Intel N4020, 8GB, 128GB...      2589000.0
2  ADVAN Laptop Soulmate (Intel N4020, 4GB, 128GB...      2299000.0
3  ADVAN Laptop Soulmate (Intel N4020, 4GB, 128GB...      2299000.0
4  ADVAN Laptop Soulmate (Intel N4020, 4GB, 128GB...      2299000.0

### 8. Multiple Page

- page 1 : https://www.bhinneka.com/jual?page=1&cari=laptop&order=
- page 2 : https://www.bhinneka.com/jual?page=2&cari=laptop&order=
- page 3 : https://www.bhinneka.com/jual?page=3&cari=laptop&order=

In [34]:
# membantu ngasih jeda
import time

In [88]:
# create driver
driver = webdriver.Chrome()

# collect extracted name and price
text_product_name = []
text_price_name = []
cicilan_list = []
reviews = []

# looping for multiple pages
for num_page in range(1, 4):
    # provide the url
    url = f'https://www.bhinneka.com/jual?page={num_page}&cari=laptop&order='

    # access the url
    driver.get(url)

    # give time sleep
    time.sleep(1)

    # fetch HTML
    html = driver.page_source

    # parsing the HTML
    soup = BeautifulSoup(html, "html.parser")

    # find all for product name
    product_names = soup.find_all('a', {'class':"text-primary text-decoration-none"})

    # extract name
    for product in product_names:
        # input the product name into the list
        text_product_name.append(product.get_text())

    # find all for discount price
    price_names = soup.find_all('span', {'itemprop':'price'})

    # extract name
    for price in price_names:
        # input the price name into the list
        text_price_name.append(price.get_text())

    # extract all element reviewer
    element_reviewers = soup.find_all('div', {'class':'bmd-product-rating'})

    # extract name
    for el_review in element_reviewers:
        # input the price name into the list
        reviews.append(el_review.get_text())

    # extract installment
    element_installment = soup.find_all('div', {'class':'o_wsale_product_information_text flex-grow-1'})

    # extract text
    for el_installment in element_installment:
        cicilan_list.append(el_installment.find('span', {'class':'bmd-installment'}).get_text())

# raw data
raw_data = {'Product Name': text_product_name,
            'Discount Price' : text_price_name,
            'reviwer' : reviews,
            'Installment':cicilan_list
            }

# create dataframe
data = pd.DataFrame(raw_data)

# show dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product Name    120 non-null    object
 1   Discount Price  120 non-null    object
 2   reviwer         120 non-null    object
 3   Installment     120 non-null    object
dtypes: object(4)
memory usage: 3.9+ KB

In [89]:
data.head()

,Product Name,Discount Price,reviwer,Installment
0,"ADVAN Laptop Soulmate (Intel N4020, 4GB, 128GB...",2299000.0,\n\n\n\n\n\n(1)\n,Cicilan Rp. 191.583/bln
1,"ADVAN Laptop Soulmate (Intel N4020, 4GB, 128GB...",2299000.0,\n\n\n\n\n\n(1)\n,Cicilan Rp. 191.583/bln
2,"ADVAN Laptop Soulmate (Intel N4020, 4GB, 128GB...",2299000.0,\n\n\n\n\n\n(1)\n,Cicilan Rp. 191.583/bln
3,"ADVAN Laptop Soulmate (Intel N4020, 8GB, 128GB...",2589000.0,\n\n(0)\n,Cicilan Rp. 215.750/bln
4,SitStand Laptop Stand Alumunium Premium Portab...,299000.0,\n\n(0)\n,Cicilan Rp. 24.917/bln

**Exercise**
- add `cicilan`
- add `review count`